[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/fzf-tab-completion"]
	path = zsh/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion
